@font-face {
    font-family: 'Undertale';
    src: url('../assets/fonts/Undertale.otf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #EFEEEE;
}

::selection {
    background: none;
}

::-moz-selection {
    background: none;
}

main {
    margin-left: 0.4vw;
    margin-right: 0.4vw;
    background-color: #EFEEEE;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

p {
    background-color: transparent;
}

section {
    min-height: 85vh;
    display: flex;
    justify-content: center;
    background-color: #EFEEEE;
    margin-bottom: 15vh;
}

section h2 {
    color: #343d46;
    align-items: center;
}

.header {
    z-index: 1;
    box-shadow: 0.4vh 0.4vh 1.3vh #D1CDC7;
    position: sticky;
    top: 0vh;
    background-color: #EFEEEE;
    height: 17.6vh;
    opacity: 97%;
}

.greeting {
    font-family: 'Montserrat';
    color: #EFEEEE;
    font-size: 10vw;
    text-shadow: -0.4vh -0.4vh 1.1vh #FFFFFF, 0.4vh 0.4vh 1.1vh #D1CDC7;
}

.subject {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    padding-top: 10vh;
    font-weight: bold;
}

.subjectHeader {
    padding-top: 25vh;
    font-size: 7vw;
    color: #EFEEEE;
    text-shadow: -0.4vh -0.4vh 1.1vh #FFFFFF, 0.4vh 0.4vh 1.1vh #D1CDC7;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.aboutSubject {
    margin-top: 2vh;
    color: #D1CDC7;
    text-shadow: 0.5vh 0.5vh 0.7vh #FFFFFF;
    font-size: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: transparent;
}

.invisText {
    opacity: 0%;
}

.button {
    justify-content: center;
    font-size: 3vh;
    border-radius: 3.3vw;
    background-color: #EFEEEE;
    color: #D1CDC7;
    font-weight: bold;
    padding: 1.5vh;
    text-decoration: none;
    box-shadow: -0.4vh -0.4vh 1.3vh #FFFFFF, 0.4vh 0.4vh 1.3vh #D1CDC7;
    text-shadow: 0.4vh 0.4vh 0.5vh #FFFFFF;
    white-space: nowrap;
}

.smallerButton {
    font-size: 2vh;
    padding: 0.7%;
    margin-left: 0.5vw;
}

.button:hover {
    background-color: #EFEEEE;
    color: #cfcbc5;
    box-shadow: inset -0.4vh -0.4vh 1.3vh #FFFFFF, inset 0.4vh 0.9vh 1.3vh #D1CDC7;
}

#logo {
    font-family: 'Zhi Mang Xing';
    color: #2F2F2F;
    font-size: 4.3vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.7vh;
    padding-bottom: 2.5vh;
}

img {
    height: auto;
    width: 35%;
}

.nav-links {
    margin-left: 20vw;
    margin-right: 20vw;
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 1.7vh;
    flex: 0;
    font-weight: bold;
}

.nav-links a {
    color: #2F2F2F;
    text-decoration: none;
}

.subNavHeader {
    z-index: 1;
    box-shadow: 0.4vh 0.4vh 1.3vh #D1CDC7;
    position: sticky;
    top: 0vh;
    background-color: #EFEEEE;
    height: 7%;
    display: flex;
    align-items: center;
}

.singlePage {
    overflow-y: hidden;
}

.form {
    margin-top: 5vh;
    display: block;
    text-align: center;
    color: #D1CDC7;
    text-shadow: 0.5vh 0.5vh 0.7vh #FFFFFF;
    font-family: 'Roboto';
    font-size: 2vh;
    margin-bottom: 1vh;
}

input {
    font-family: 'Roboto';
    margin-top: 1vh;
    margin-bottom: 5vh;
    width: 35%;
    height: 5vh;
    padding-left: 0.4vw;
    box-sizing: border-box;
    border: 1px solid #D1CDC7;
    border-radius: 4px;
    background-color: #EFEEEE;
    box-shadow: inset 0.4vh 0.4vh 0.3vh #D1CDC7
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

textarea {
    font-family: 'Roboto';
    margin-top: 1vh;
    padding-left: 0.4vw;
    width: 80%;
    height: 5vh;
    box-sizing: border-box;
    border: 1px solid #D1CDC7;
    border-radius: 4px;
    background-color: #EFEEEE;
    box-shadow: inset 0.4vh 0.4vh 0.3vh #D1CDC7
}

table, td, tr, th {
    border: 0.27vh solid #D1CDC7;
    padding: 0.5vh;
    border-collapse: collapse;
    color: #D1CDC7;
    text-shadow: 0.5vh 0.5vh 0.7vh #FFFFFF;
}

table {
    width: 80%;
}

td {
    height: 5.2vh;
}

th {
    border: 0.33vh solid #D1CDC7;
    height: 5.5vh;
    text-align: left;
}

th, td {
    padding: 1.33vh;
}

table a {
    color: #D1CDC7;
    text-shadow: 0.5vh 0.5vh 0.7vh #FFFFFF;
    cursor: pointer;
}

table a:hover {
    text-decoration: underline;
}

#body {
    height: 20vh;
}

button {
    margin-top: 1vh;
    justify-content: center;
    font-size: 2vh;
    background-color: #EFEEEE;
    color: #D1CDC7;
    font-weight: bold;
    padding: 0.5%;
    text-decoration: none;
    box-shadow:0.1vh 0.1vh 1vh #D1CDC7;
    text-shadow: 0.4vh 0.4vh 0.5vh #FFFFFF;
    white-space: nowrap;
}

button:hover {
    background-color: #EFEEEE;
    color: #cfcbc5;
    box-shadow: inset 0.1vh 0.1vh 1vh #D1CDC7;
}

.singlePageElement {
    padding-bottom: 5vh;
    padding-top: 2vh;
}

.subNav {
    position: absolute;
    right: -20vw;
    height: 100vh;
    top: 0vh;
    width: 100vw;
    transform: translateX(100%);
    transition: transform 0.5s ease;
}

.subNav a {
    color: #2F2F2F;
    text-decoration: none;
}

.subNav li {
    opacity: 0;
    padding-bottom: 12vh;
    font-size: 2vh;
}

#subLogo {
    font-family: 'Zhi Mang Xing';
    color: #2F2F2F;
    margin-bottom: 1vh;
    margin-right: 2vh;
    font-size: 2.6vh;
    display: flex;
    margin-left: 1vw;
}

.link {
    text-decoration: none;
    color: #2F2F2F;
}

.blogNavHeader {
    font-size: 2.5vh;
    margin-left: 29.5vw;
    margin-bottom: 1.3vh;
}

.center {
    justify-content: center;
    align-items: center;
}

.articlePreviews {
    width: 90%;
    margin: 10%;
    margin-top: 5vh;
    position: absolute;
}

.articlePreviews img {
    width: 39vh;
    padding: 0vw;
    margin: 0.5vw;
    border-radius: 1vw;
    box-shadow: -0.4vh -0.4vh 1.3vh #FFFFFF, 0.4vh 0.4vh 1.3vh #D1CDC7;
}

.preview {
    position: absolute;
    list-style: none;
    margin-top: 10vh;
}

.previewHeader {
    color: #EFEEEE;
    background-color: #2F2F2F;
    font-size: 2vh;
    font-family: Montserrat;
    margin: 0.5vw;
    margin-top: 25vh;
    opacity: 80%;
    width: 39vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    position: absolute;
    display: inline-flex;
    justify-content: center;
}

li {
    padding: 0vh;
}

.selected {
    position: absolute;
    z-index: -2;
    background: #ECB488;
    transform: scale(1.3, 0.13);
    transition: 0.5s ease;
}

.burger div {
    display: block;
    margin-left: 80%;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 23px;
    height: 3px;
    background-color: #ECB488;
    margin: 5px;
    display: none;
}

@media screen and (max-width: 768px) {
    .header {
        height: 0%;
        position: -webkit-sticky;
        position: sticky;
        top: 0vh;
    }

    html, body {
        overflow-x: hidden;
        width: 100%;
    }

    img {
        z-index: -1;
        height: auto;
        width: 35%;
    }

    .selected {
        display: none;
    }

    .burger div {
        display: block;
        margin-left: 70vw;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .burger {
        z-index: 1;
        margin-top: 1.4vh;
    }

    .nav-links {
        position: absolute;
        right: -20vw;
        height: 100vh;
        top: 0vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        transform: translateX(100%);
        transition: transform 0.5s ease;
    }

    .nav-links li {
        opacity: 0;
        padding-bottom: 12vh;
        font-size: 2vh;
    }

    #logo {
        font-size: 1.2rem;
        display: inline-block;
        display: flex;
        padding-bottom: 1.3vh;
        padding-top: 0.5vh;
        margin-left: 1vw;
        justify-content: left;
        width: 50vw;
    }

    .greeting {
        font-size: 9.2vh;
    }

    .subjectHeader {
        font-size: 10vh;
        margin: 5vh;
        text-align : center;
    }

    section {
        min-height: 95vh;
        margin-bottom: 0vh;
    }

    .subject {
        margin-top: 20vh;
    }

    .aboutSubject {
        font-size: 3vw;
        padding-bottom: 7vh;
        margin: 5vh;
        text-align : center;
    }

    .nav {
        display: none;
        height: 100vh;
        width: 100vw;
    }

    .nav-active {
        z-index: 0;
        transform: translateX(0%);
        transition: transform 0.5s ease;
    }

    .previewHeader {
        display: flex;
        flex-direction: row;
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
