p {
    margin-bottom: 0;
}

/* width */
::-webkit-scrollbar {
    width: 1vw;
}

/* Track */
::-webkit-scrollbar-track {
    z-index: 2;
    background-color: #EFEEEE;
    box-shadow: inset -0.4vh -0.4vh 1.3vh #FFFFFF, inset 0.4vh 0.9vh 1.3vh #D1CDC7;
}

/* Handle */
::-webkit-scrollbar-thumb {
    z-index: 2;
    background: #FFFFFF;
    box-shadow: -0.4vh -0.4vh 1.3vh #FFFFFF, 0.4vh 0.4vh 1.3vh #D1CDC7;
    border-radius: 5vh;
    height: 20vh;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #FFFFFF;
}

::selection {
    background: none;
}

::-moz-selection {
    background: none;
}

html, body {
    background-color: #EFEEEE;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    height: 100vh;
}

p {
    background-color: transparent;
}

section h2 {
    color: #343d46;
}

.headernav {
    background-color: #EFEEEE;
    box-shadow: 0.4vh 0.4vh 1.3vh #D1CDC7;
    opacity: 97%;
    z-index: 1;
}

.greeting {
    font-family: 'Montserrat';
    color: #EFEEEE;
    font-size: 10vw;
    text-shadow: -0.4vh -0.4vh 1.1vh #FFFFFF, 0.4vh 0.4vh 1.1vh #D1CDC7;
}

.subject {
    width: 100vw;
    z-index: 0;
    padding-top: 10vh;
    font-weight: bold;
}

.subjectHeader {
    padding-top: 40vh;
    font-size: 8vw;
    color: #EFEEEE;
    text-shadow: -0.4vh -0.4vh 1.1vh #FFFFFF, 0.4vh 0.4vh 1.1vh #D1CDC7;
    font-weight: bold;
}

.aboutSubject {
    margin-top: 2vh;
    color: #D1CDC7;
    text-shadow: 0.5vh 0.5vh 0.7vh #FFFFFF;
    font-size: 2vh;
    font-weight: bold;
    background-color: transparent;
    padding-bottom: 20vh;
}

.button {
    justify-content: center;
    font-size: 3vh;
    border-radius: 3.3vw;
    background-color: #EFEEEE;
    color: #D1CDC7;
    font-weight: bold;
    padding: 1.5vh;
    text-decoration: none;
    box-shadow: -0.4vh -0.4vh 1.3vh #FFFFFF, 0.4vh 0.4vh 1.3vh #D1CDC7;
    text-shadow: 0.4vh 0.4vh 0.5vh #FFFFFF;
    white-space: nowrap;
}

.smallerButton {
    font-size: 2vh;
    padding: 0.7%;
    margin-left: 0.5vw;
}

.button:hover {
    background-color: #EFEEEE;
    color: #cfcbc5;
    box-shadow: inset -0.4vh -0.4vh 1.3vh #FFFFFF, inset 0.4vh 0.9vh 1.3vh #D1CDC7;
}

#logo {
    font-family: 'Zhi Mang Xing';
    color: #2F2F2F;
    font-size: 4.3vh;
}

img {
    height: auto;
    width: 35%;
}

.nav-links {
    margin-left: 22vw;
    margin-right: 20vw;
    list-style: none;
    font-size: 1.7vh;
    font-weight: bold;
}

.nav-links a {
    color: #2F2F2F;
    text-decoration: none;
}

.neunav {
    background-color: #EFEEEE !important;
    box-shadow: 0.4vh 0.4vh 1.3vh #D1CDC7;
}

.subNavHeader {
    z-index: 1;
    box-shadow: 0.4vh 0.4vh 1.3vh #D1CDC7;
    top: 0vh;
    background-color: #EFEEEE;
    height: 7%;
}

.singlePage {
    overflow-x: hidden;
    width: 100vw;
    margin-top: 0vh;
}

.form {
    margin-top: 5vh;
    display: block;
    text-align: center;
    color: #D1CDC7;
    text-shadow: 0.5vh 0.5vh 0.7vh #FFFFFF;
    font-family: 'Roboto';
    font-size: 2vh;
    margin-bottom: 1vh;
}

input {
    font-family: 'Roboto';
    margin-top: 1vh;
    margin-bottom: 5vh;
    width: 35%;
    height: 5vh;
    padding-left: 0.4vw;
    box-sizing: border-box;
    border: 1px solid #D1CDC7;
    border-radius: 4px;
    background-color: #EFEEEE;
    box-shadow: inset 0.4vh 0.4vh 0.3vh #D1CDC7
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

textarea {
    font-family: 'Roboto';
    margin-top: 1vh;
    padding-left: 0.4vw;
    width: 80%;
    height: 5vh;
    box-sizing: border-box;
    border: 1px solid #D1CDC7;
    border-radius: 4px;
    background-color: #EFEEEE;
    box-shadow: inset 0.4vh 0.4vh 0.3vh #D1CDC7
}

table, td, tr, th {
    border: 0.27vh solid #D1CDC7;
    padding: 0.5vh;
    border-collapse: collapse;
    color: #D1CDC7;
    text-shadow: 0.5vh 0.5vh 0.7vh #FFFFFF;
}

table {
    width: 80%;
}

td {
    height: 5.2vh;
}

th {
    border: 0.33vh solid #D1CDC7;
    height: 5.5vh;
    text-align: left;
}

th, td {
    padding: 1.33vh;
}

table a {
    color: #D1CDC7;
    cursor: pointer;
    text-decoration: none;
}

table a:hover {
    color: #2F2F2F;
}

.icons {
    margin-right: 4vh;
    display: inline-flex;
}

.icon {
    margin: 0vh 1vh 0vh 3vh;
    text-decoration: none;
}

.icon:hover {
    color: #2F2F2F;
    text-decoration: none;
}

.iconRow {
    border: none;
    width: 1%;
    padding: 0px;
}

#body {
    height: 20vh;
}

button {
    margin-top: 1vh;
    justify-content: center;
    font-size: 2vh;
    background-color: #EFEEEE;
    color: #D1CDC7;
    font-weight: bold;
    padding: 0.5%;
    text-decoration: none;
    box-shadow:0.1vh 0.1vh 1vh #D1CDC7;
    text-shadow: 0.4vh 0.4vh 0.5vh #FFFFFF;
    white-space: nowrap;
}

button[type="icon"] {
    all: unset;
    width:4vh;
}

button[type="icon"]:hover {
    all: unset;
    width:4vh;
}

button:hover {
    background-color: #EFEEEE;
    color: #cfcbc5;
    box-shadow: inset 0.1vh 0.1vh 1vh #D1CDC7;
}

.singlePageElement {
    padding-bottom: 5vh;
    padding-top: 2vh;
}

.subNav {
    position: absolute;
    right: -20vw;
    height: 100vh;
    top: 0vh;
    width: 100vw;
    transform: translateX(100%);
    transition: transform 0.5s ease;
}

.subNav a {
    color: #2F2F2F;
    text-decoration: none;
}

.subNav li {
    opacity: 0;
    padding-bottom: 12vh;
    font-size: 2vh;
}

#subLogo {
    font-family: 'Zhi Mang Xing';
    color: #2F2F2F;
    margin-bottom: 1vh;
    margin-right: 2vh;
    font-size: 2.6vh;
    display: flex;
    margin-left: 1vw;
}

.link {
    text-decoration: none;
    color: #2F2F2F;
}

.blogNavHeader {
    font-size: 2.5vh;
    margin-left: 29.5vw;
    margin-bottom: 1.3vh;
}

.center {
    justify-content: center;
    align-items: center;
}

.articlePreviews {
    display: inline;
    width: 90vw;
    margin: 20vh;
    margin-top: 5vh;
    position: absolute;
}

.articlePreviews img {
    width: 22%;
    margin: 0.5vw;
    border-radius: 1vw;
    box-shadow: -0.4vh -0.4vh 1.3vh #FFFFFF, 0.4vh 0.4vh 1.3vh #D1CDC7;
}

.articlePreviews ul {
    display: inline;
}

.previewHeader {
    color: #EFEEEE;
    background-color: #2F2F2F;
    font-family: Montserrat;
    margin: 0.5vw;
    margin-top: 14%;
    opacity: 80%;
    width: 22%;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    position: absolute;
    display: inline-flex;
    justify-content: center;
}

li {
    padding: 0vh;
}

.selected {
    position: absolute;
    z-index: 10;
    background: #ECB488;
    transform: scale(1.3, 0.13);
    transition: 0.5s ease;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
