html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background: #EFEEEE;
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6c757d;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #7B848D;
}

.navbar {
    background: black;
}

.navbar-brand {
    font-family: 'Zhi Mang Xing';
    font-size: 1.35rem;
}

.navbar-brand:hover {
    color: #d7d6d6;
}

section::before {
    display: block;
    content: " ";
    margin-top: -50px;
    height: 50px;
    visibility: hidden;
    pointer-events: none;
}

.nav-link,
.navbar-brand {
    color: #EFEEEE;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #d7d6d6;
}

.navbar-collapse {
    justify-content: flex-end;
}

.header {
    height: 100vh;
    width: 100vw;
    background-image: url('curve.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.wow {
    visibility: hidden;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}

.description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
}

.description h1 {
    color: #ECB488;
}

.description p {
    color: #EFEEEE;
    font-size: 1.3rem;
    line-height: 1.5;
}

.description button:hover {
    background:#EFEEEE;
    color:#000;
}

.features {
    margin: 4em auto;
    padding: 1em;
    position: relative;
}

.feature-title {
    color: #333;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.features img {
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 16px;
}

.page-footer {
    z-index: 2;
    background-color: #222;
    color: #ccc;
    padding: 60px 0 30px;
}
.footer-copyright {
    color: #666;
    padding: 40px 0;
}

@media (max-width: 575.98px) {
    .description {
        left: 0;
        padding: 0 15px;
        position: absolute;
        top: 10%;
        transform: none;
        text-align: center;
    }

    .description h1 {
        font-size: 2em;
        text-align: center;
    }

    .description p {
        font-size: 1.2rem;
    }

    .features {
        margin: 0;
    }
}
