* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin-left: 10px;
    margin-right: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    z-index: 0;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0px;
    background-color: white;
}

.home {
    background-image: url("./harinkje.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.home h2 {
    color: white;
}

.impressie {
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}
      
.locatie {
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact {
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

nav,
#logo {
    min-height: 8vh;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    padding-top: 10px;
    justify-content: center;
}

nav h1,
.nav-links {
    font-size: 1rem;
    flex: 1;
    font-weight: bold;
}

.nav-links {
    margin-left: 20vw;
    margin-right: 20vw;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav-links li {
    padding: 0px 20px 0px 20px;
}

.nav-links a {
    color: #565454;
    text-decoration: none;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section h2 {
    font-size: 5rem;
    color: #343d46;
    align-items: center;
}

.selected {
    position: absolute;
    z-index: -2;
    background: #70be7b;
    transform: scale(2);
    transition: 0.5s ease;
    border-radius: 5px;
}

.burger div {
    z-index: 1;
    width: 23px;
    height: 3px;
    background-color: #343d46;
    margin: 5px;
    display: none;
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: -20vw;
        height: 92vh;
        top: 20.3vh;
        background-color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 20%;
        box-shadow: 10px 15px 10px 10px rgba(0, 0, 0, 0.3);
        transform: translateX(100%);
        transition: transform 0.5s ease;
    }

    .nav-links li {
        opacity: 0;
        padding-top: 0px;
        padding-bottom: 100px;
    }

    .burger div {
        display: block;
        margin-left: 87vw;
        cursor: pointer;
        transition: all 0.3s ease;
    }
}

.nav-active {
    transform: translateX(0%);
    transition: transform 0.5s ease;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}